* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.card {
  height: 100px;
  width: 100px;
  color: white;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  border: 1px white solid;
}
.changer {
  height: 500px;
  width: 500px;
}
body {
  display: flex;
  flex-wrap: wrap;
}
